<nav>
    <ul>
        <li> <a href="{{ path('main_home') }} "> home</a></li>
        <li> <a href="{{ path('main_test') }}"> test</a></li>
        <li> <a href="{{ path('serie_list', {'page':1}) }}"> all series</a></li>
        <li> <a href="{{ path('serie_create') }}"> create a new serie </a></li>
        <li> <a href="{{ path('season_create') }}"> create a season </a></li>

    </ul>

</nav>